@import "./constants";

.grid-tile {
  width: 100%;
  height: 100%;

  .tile-row {
    display: flex;
    flex-wrap: wrap;
  }

  .tile {
    flex-grow: 1;
    aspect-ratio: 1 / 1;
    border: solid 1px $brown-medium;
    border-radius: 4px;
    background-image: url("../../public/img/stone-tile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $brown-dark;
    overflow: hidden;
    transition: box-shadow 0.3s;

    &.is-active {
      box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.5),
        inset -4px -4px 8px rgba(255, 255, 255, 0.1);
      filter: brightness(0.85) contrast(1.2);
    }
  }
}
